[package]
name = "ntp_timeturner"
version = "0.1.0"
edition = "2021"

[dependencies]
serialport  = "4.2"
chrono      = "0.4"
crossterm   = "0.29"
regex       = "1.11"
serde       = { version = "1.0", features = ["derive"] }
serde_json  = "1.0"
notify      = "5.1.0"